@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    outline: px solid black;
    font-family: 'Acme', sans-serif;
    font-family: 'Poppins';
}

:root {
    --primary-color: #e0f2fe;
    --secondary-color: #f0f9ff;
    --accent: #0c4a6e;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sidebar .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar .side-nav,
.sidebar .settings-nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 3rem;
}

.sidebar .side-nav a,
.sidebar .settings-nav a {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.sidebar .side-nav a:hover,
.sidebar .settings-nav a:hover {
    border-radius: 0.5rem;
    background-color: #082f49;
}

.sidebar .side-nav span,
.sidebar .settings-nav span {
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: var(--secondary-color);
    grid-column: 2 / -1;
    /* box-shadow: 0 5px 4px 0 rgba(0,0,0,.2); */
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .top-header {
    padding: .5rem 2.5rem;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.search-bar input {
    height: 32px;
    padding: .5rem .75rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    outline: none;
    border: 1px solid #cbd5e1;
    color: #000000;
    width: 80%;
}

.header .top-header .icon {
    height: 24px;
    width: 24px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.top-header-profile-picture {
    height: 3rem;
    width: 3rem;
    object-position: center;
    border-radius: 50%;
    object-fit: cover;
}

.profile span {
    color: #000000;
    font-weight: 500;
}

.header .bottom-header {
    padding: .5rem 2.5rem;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
}

.header .greeting {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    color: #000000;
}

.header .bottom-header img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.header h5 {
    display: flex;
    align-items: end;
    grid-row: 1 / 2;
    color: #000000;
}

.header h3 {
    grid-row: 2 / 3;
    color: #000000;
}

.main {
    background-color: var(--primary-color);
}
