@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    outline: px solid black;
    font-family: 'Acme', sans-serif;
    font-family: 'Poppins';
}

:root {
    --primary-color: #e0f2fe;
    --secondary-color: #f0f9ff;
    --accent: #0c4a6e;
    --highlights-1: #082f49;
    --highlights-2: #fbbf24;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: minmax(1fr, 160px) 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sidebar .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar .side-nav,
.sidebar .settings-nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 3rem;
}

.sidebar .side-nav a,
.sidebar .settings-nav a {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.sidebar .side-nav a:hover,
.sidebar .settings-nav a:hover {
    border-radius: 0.5rem;
    background-color: var(--highlights-1);
}

.sidebar .side-nav span,
.sidebar .settings-nav span {
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: var(--secondary-color);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 1rem 2rem;
    gap: 1rem;
}

.header .top-header {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
}

.header .top-header .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.header .top-header .search-bar input {
    height: 32px;
    padding: .5rem .75rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    outline: none;
    border: 1px solid #cbd5e1;
    color: #000000;
    width: 80%;
}

.header .top-header .search-bar input:focus {
    border: 1px solid var(--accent);
}

.header .top-header .icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.header .top-header .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 1rem;
}

.header .top-header .profile .top-header-profile-picture {
    height: 3rem;
    width: 3rem;
    object-position: center;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header .top-header .profile span {
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.header .top-header .profile span:hover {
    color: var(--accent);
}

.header .bottom-header {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
}

.bottom-header .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.bottom-header .user-info img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.bottom-header .user-info h5,
.bottom-header .user-info h3 {
    color: #000000;
}

.bottom-header .user-info span {
    font-size: .75em;
    color: #000000;
}

.header .bottom-header .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-right: 1rem;
}

.header .bottom-header .actions button {
    background-color: var(--accent);
    border: none;
    height: 2.5rem;
    width: 7.5rem;
    border-radius: 1.5rem;
    font-weight: 500;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.header .bottom-header .actions button:hover {
    background-color: var(--highlights-1);

}

.main {
    background-color: var(--primary-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    padding: 1.5rem 1rem;
    gap: 2rem;
}

.main * {
    color: #000000;
}

.main > div > h3 {
    font-weight: 500;
    margin-bottom: .75rem;
}

.main .projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main .projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 2rem 1.5rem;
    border-radius: .5rem;
    border-left: .5rem solid var(--highlights-2);
    transition: .3s ease-in-out;
}

.card-container:hover {
    /* transform: scale(1.05); */
    filter: drop-shadow(0 0 0.2rem var(--highlights-1));
}

.project-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
}
.project-actions img {
    height: 24px;
    transition: .3s ease-in-out;
}

.project-actions img:hover,
.icon:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.1rem var(--highlights-1));
    cursor: pointer;
}

.announcement-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: .5rem;
    padding: 2rem;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* margin-bottom: 1.5rem; */
}

.announcement-detail {
    font-size: .75rem;
}

.announcement {
    height: 100%;
}


.trending-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: .5rem;
    padding: 2rem;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.user img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.user > .username span {
    display: block;
}

.user .tag {
    font-weight: 500;
    font-size: .75em;
}

.user .name {
    color: #6b7280;
    font-size: .9em;
}

.divider {
    height: 1px;
    background-color: silver;
}